.super-mario {
    width: 200px;
    position: absolute;
}

.goomba {
    width: 100px;
    position: absolute;
    top: 370px;
    left: 60px;
}

.baloon {
    position: absolute;
    left: 300px;
    z-index: 1;
}

.speech {
    font-size: 25px;
    position: absolute;
    top: 120px;
    left: 320px;
    z-index: 2;
}

.bowser {
    width: 200px;
    position: absolute;
    left: 600px;
    top: 260px;
}